body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #FFFFFF;
    width: 100%;
}

h1 {
    display: inline-block;
    font-size: 40px;
}

#logo {
    margin-left: 30px;
}